<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Alquiler Aeronaves</title>  
</head>
<body>
    <header>        
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu" class="checkbtn"><mat-icon class="example-icon">apps</mat-icon></label>
            <div> <img class="logoPerfil1" 
                #tooltip="matTooltip" 
                matTooltip= "{{nombre}}"              
                [matTooltipPosition]="this.positionOptions[2]"
                matTooltipHideDelay="100"
                aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                 src="../assets/Images/user.png" height="23px">&nbsp;&nbsp;
                    <span class="logoPerfil">{{usuarioLogeado}}</span>                                      
                    
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon >more_vert</mat-icon>
                    </button>                
                        <mat-menu #menu="matMenu" class="cerrar">
                        <button mat-menu-item class="posicionBotton" (click)="cerrarAplicacion()">
                            <mat-icon 
                            #tooltip="matTooltip" 
                            matTooltip= "Cerrar"              
                            [matTooltipPosition]="this.positionOptions[2]"
                            class="example-icon">cancel</mat-icon> 
                        </button>                
                    </mat-menu>

                   
            </div>
            <img class="logo" src="../assets/Images/avion.jpg" height="30">
            <span class="label">                
                <span style="font-size: medium; color: rgb(189, 36, 36);">Servicio de Alquiler Aeronaves</span>
                </span>
            <nav class="menu">
                <ul>
                    <li>
                        <a routerLink="/menu">
                         Menu<mat-icon class="example-icon">apps</mat-icon>                        
                        </a>                        
                    </li>                                                      
                </ul>
            </nav>      
    </header>
</body>
</html>




