.card-header {    
    background: #0463AB;
    color: white;
  }
  .fondo{
    background-color:rgb( 213, 219, 219);   
  }
  .buttonSubir{
    position: relative;
    left: 120px;
  }
  .buttonGuardar{
    position: relative;
    left: 40px;
    top:70px;
  }

  .labelDescargar{
    position: relative;    
    top:70px;
  }
  .label1{
    position: relative;
    left: 140px;
  }




